<section class="banquet">
    <div class="container">
        <div class="banquet__col">
            <div class="banquet__info">
                <div class="banquet__details">
                    <h2>Простір для особливих подій</h2>
                    <p>
                        Villa OTTE — простір для камерних подій, де атмосфера, природа та приватність створюють
                        особливий
                        досвід
                        для вас і ваших гостей.
                    </p>
                </div>
                <ul class="banquet__list">
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/ban_1.png" alt="Icon">
                        посадка до 60 гостей
                    </li>
                    <li>
                        <img loading="lazy" decoding="async" src="./assets/images/icons/ban_2.png" alt="Icon">
                        проживання до 30 гостей
                    </li>
                </ul>
            </div>
            <div class="banquet__pic banquet__pic--sm">
                <img loading="lazy" decoding="async" src="./assets/images/ban_prev_1.png" alt="Picture">
            </div>
        </div>
        <div class="banquet__col">
            <div class="banquet__pic banquet__pic--lg">
                <img loading="lazy" decoding="async" src="./assets/images/ban_prev_2.png" alt="Picture">
            </div>
            <div class="banquet__details">
                <h2>Переваги</h2>
                <ul>
                    <li>закрита приватна територія</li>
                    <li>SPA та wellness-зони</li>
                    <li>ресторан і банкетний формат</li>
                    <li>річка та природні локації поруч</li>
                    <li>фотосесії у саду та біля води</li>
                </ul>
            </div>
        </div>
    </div>
</section>