<section class="fountain">
    <div class="container">
        <div class="fountain__pic fountain__pic--lg">
            <img loading="lazy" decoding="async" src="./assets/images/restoration.jpg" alt="Picture">
        </div>
        <div class="fountain__info">
            <div class="fountain__details">
                <h2>Бювет</h2>
                <p>
                    Гості Villa OTTE мають можливість відвідати бювет та спробувати воду у її природному вигляді.
                </p>
                <p>
                    Ми допоможемо організувати цей досвід, підкажемо, як правильно вживати воду та супроводимо вас у процесі знайомства з її властивостями.
                </p>
                <p>
                    Це частина відпочинку, яка поєднує природу, традиції курорту та сучасний комфорт.
                </p>
            </div>
            <div class="fountain__pic fountain__pic--sm">
                <img loading="lazy" decoding="async" src="./assets/images/restoration_2.jpg" alt="Picture">
            </div>
        </div>
    </div>
</section>