<section class="includes">
    <div class="container">
        {{> _titleBuilder
            tagWrapper = 'h2'
            className = 'section-heading section-heading--mini'
            label = 'Що входить у проживання'
        }}
        <ul class="includes__cards">
            <li class="includes__item">
                <div class="includes__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/incl_1.jpg" alt="Picture">
                </div>
                <p class="includes__title">Сніданок</p>
            </li>
            <li class="includes__item">
                <div class="includes__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/incl_2.jpg" alt="Picture">
                </div>
                <p class="includes__title">SPA простір</p>
            </li>
        </ul>
    </div>
</section>