<section class="menu">
    <div class="container">
        <div class="menu__info">
            <div class="menu__descr">
                <h2>Кухня ресторану</h2>
                <p>
                    Ресторан готелю пропонує гостям страви європейської кухні, приготовані з місцевих продуктів. Нашими кухарями розроблені основне та дитяче меню. Крім того, завжди актуально сезонна пропозиція.
                </p>
                <a href="javascript: void(0)">Завантажити меню</a>
            </div>
            <div class="menu__pic menu__pic--sm">
                <img src="./assets/images/menu_1.jpg" alt="Picture">
            </div>
        </div>
        <div class="menu__details">
            <div class="menu__pic menu__pic--lg">
                <img src="./assets/images/menu_2.jpg" alt="Picture">
            </div>
            {{> _cuisineList}}
        </div>
    </div>
</section>