<section class="posts pt-lg">
    <div class="container">
        <div class="posts__head">
            {{> _titleBuilder
                tagWrapper = 'h1'
                className = 'section-subtitle'
                label = 'Блог'
            }}
            {{> _filterPanel}}
        </div>
        <div class="posts__items">
            {{#each (sliceCollect blog.blog 0 10)}}
                {{> _blogBox this}}
            {{/each}}
        </div>
        <div class="posts__controls">
            {{> _linkRoute
                label = 'Більше'
                additClass = 'js-posts-more link-route--reverse'
            }}
            {{> _paginationList}}
        </div>
    </div>
</section>