<section class="presentation">
    <div class="presentation__boxes">
        <div class="present-box js-present-box">
            <div class="container">
                <div class="present-box__info">
                    <div class="present-box__details">
                        <h3>Бальнеотерапія</h3>
                        <p>
                            Процедури на основі Миргородської мінеральної води допомагають відновити організм, зняти
                            напругу та покращити загальний стан.
                        </p>
                        <a href="javascript: void(0)">замовити консультацію</a>
                        <ul>
                            <li>ароматичні ванни</li>
                            <li>гідромасажні ванни</li>
                            <li>лікувальні душі</li>
                            <li>басейн з гідромасажем</li>
                            <li>мінеральні ванни</li>
                            <li>перлинні ванни</li>
                        </ul>
                    </div>
                </div>
                <div class="present-box__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/present_5.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="present-box js-present-box">
            <div class="container">
                <div class="present-box__info">
                    <div class="present-box__details">
                        <h3>Грязелікування</h3>
                        <p>
                            Лікувальні грязі з місцевого родовища використовуються для відновлення, зменшення
                            запальних процесів та підтримки опорно-рухового апарату.
                        </p>
                        <a href="javascript: void(0)">замовити консультацію</a>
                    </div>
                </div>
                <div class="present-box__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/present_6.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="present-box js-present-box">
            <div class="container">
                <div class="present-box__info">
                    <div class="present-box__details">
                        <h3>Програми для відновлення і балансу</h3>
                        <p>
                            Оздоровчі програми спрямовані на загальне відновлення організму, зниження рівня стресу
                            та покращення самопочуття.
                        </p>
                        <a href="javascript: void(0)">замовити консультацію</a>
                    </div>
                </div>
                <div class="present-box__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/present_7.png" alt="Picture">
                </div>
            </div>
        </div>
    </div>
</section>