<section class="presentation">
    <div class="presentation__boxes">
        <div class="present-box js-present-box">
            <div class="container">
                <div class="present-box__info">
                    <div class="present-box__details">
                        <h3>Сауна</h3>
                        <p>
                            Сауна допомагає м’яко розслабити м’язи,
                            зняти фізичну напругу та відновити внутрішній баланс. Під впливом тепла покращується
                            кровообіг,
                            а тіло поступово переходить у стан спокою.
                        </p>
                    </div>
                </div>
                <div class="present-box__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/present_1.jpg" alt="Picture">
                </div>
            </div>
        </div>
        <div class="present-box js-present-box">
            <div class="container">
                <div class="present-box__info">
                    <div class="present-box__details">
                        <h3>Басейн</h3>
                        <p>
                            Сауна допомагає м’яко розслабити м’язи,
                            зняти фізичну напругу та відновити внутрішній баланс. Під впливом тепла покращується
                            кровообіг,
                            а тіло поступово переходить у стан спокою.
                        </p>
                    </div>
                </div>
                <div class="present-box__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/present_2.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="present-box js-present-box">
            <div class="container">
                <div class="present-box__info">
                    <div class="present-box__details">
                        <h3>Spa ритуали</h3>
                        <p>
                            SPA ритуали — це комплексні програми, що поєднують різні етапи догляду за тілом:
                            очищення,
                            тепло, відновлення та релакс.
                        </p>
                        <p>
                            Морський детокс, «Вогонь та лід» та «Сила мінералів» створені для того, щоб занурити вас
                            у
                            процес,
                            який працює не лише з тілом, а й з внутрішнім станом.
                        </p>
                    </div>
                </div>
                <div class="present-box__pic">
                    <img loading="lazy" decoding="async" src="./assets/images/present_3.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="present-box js-present-box">
            <div class="container">
                <div class="present-box__info">
                    <div class="present-box__details">
                        <h3>Масаж</h3>
                        <p>
                            SPA басейн створює відчуття легкості. Різні техніки масажу спрямовані на глибоке
                            розслаблення м’язів,
                            зняття напруги та відновлення енергії.
                        </p>
                        <p>
                            Це не лише фізичний вплив, а й спосіб повернути відчуття балансу, спокою та легкості в
                            тілі.
                            доповнюючи загальний досвід відпочинку.
                        </p>
                        <a href="javascript: void(0)">Прайс-лист послуг</a>
                        <h4>Бронювання та консультації</h4>
                        <a href="tel:+380671441441">+38 (067) 144-14-41</a>
                    </div>
                </div>
                <div class="present-box__pic">
                    <img decoding="async" loading="lazy" src="./assets/images/present_4.png" alt="Picture">
                </div>
            </div>
        </div>
    </div>
</section>