<section class="recreation">
    <div class="container">
        <div class="recreation__info">
            <div class="recreation__col">
                <h2>Маршрут оздоровлення курортом</h2>
                <ul>
                    <li>Народний музей історії курорту «Миргород»</li>
                    <li>Успенський собор</li>
                    <li>Лікувально-діагностичний центр</li>
                    <li>Водолікарня Літня естрада</li>
                    <li>Палац культури</li>
                    <li>Спортивні майданчики</li>
                    <li>Бювет</li>
                    <li>Водогрязелікарня</li>
                    <li>Човнова станція</li>
                    <li>Пляж</li>
                </ul>
            </div>
            <div class="recreation__col">
                <h2>Оздоровлення через природу</h2>
                <p>
                    Миргород — один із найвідоміших бальнеологічних курортів України, що поєднує природні ресурси,
                    багаторічні традиції оздоровлення та спокійне середовище для відпочинку.
                </p>
                <p>
                    Курорт розташований у зеленій зоні Полтавської області та відомий своїми мінеральними водами,
                    які використовуються для відновлення організму та підтримки здоров’я. Саме тут формується
                    особливий ритм життя — повільний, збалансований і комфортний.
                </p>
                <p>
                    Миргород приваблює тих, хто шукає не лише відпочинок, а й можливість відновити сили, зменшити
                    рівень стресу та повернути внутрішній баланс. Поєднання природи, води та тиші створює
                    середовище, у якому відновлення відбувається природно.
                </p>
                <div class="recreation__deco">
                    <video muted autoplay loop playsinline class="js-video-autoplay" poster="">
                        <source data-src="./assets/video/grass.mp4" type="video/mp4">
                        <p>Your browser does not support the video tag.</p>
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="recreation__pic">
        <img loading="lazy" decoding="async" src="./assets/images/recreation.png" alt="Picture">
    </div>
</section>