<section class="restoration">
    <div class="container">
        <div class="restoration__pic">
            <img loading="lazy" decoding="async" src="./assets/images/restoration.jpg" alt="Picture">
        </div>
        <div class="restoration__info">
            <div class="restoration__txts">
                <h2>Вода, що відновлює</h2>
                <p>
                    Миргородська вода відома своїми природними цілющими властивостями.
                </p>
                <p>
                    Вона допомагає відновитись, зменшити напругу та повернути баланс тілу і внутрішньому стану.
                </p>
            </div>
            <div class="restoration__prev">
                <img loading="lazy" decoding="async" src="./assets/images/restoration_2.jpg" alt="Picture">
            </div>
            <div class="restoration__foot">
                <ul class="restoration__list">
                    <li>покращує обмін речовин</li>
                    <li>сприяє відновленню організму</li>
                    <li>підтримує роботу травної системи</li>
                    <li>допомагає знизити рівень стресу</li>
                </ul>
                {{> _linkRoute label = 'Детальніше'}}
            </div>
        </div>
    </div>
</section>