<section class="reservation">
    <div class="container">
        <div class="reservation__content">
            {{> _tag label = 'Івенти'}}
            {{> _titleBuilder
                tagWrapper = 'h2'
                className = 'section-info'
                label = 'При бронюванні всіх номерів Villa OTTE повністю закривається під ваш приватний захід'
            }}
            <div class="reservation__connect">
                <p>Бронювання подій</p>
                <a href="tel:+380671441441">+38 (067) 144-14-41</a>
            </div>
        </div>
    </div>
</section>