<section class="road">
    <div class="container">
        <div class="road__info">
            <div class="road__txts">
                <h2>Миргород - курорт Полтавщини</h2>
                <p>
                    Курорт у серці Полтавщини, приблизно за 3 години від Києва та лише за годину від Полтави. Простір для відновлення, тиші та відпочинку серед природи.
                </p>
            </div>
            <ul class="road__list">
                <li>
                    <img src="./assets/images/icons/ico-loc.png" alt="Icon">
                    <p>~250 км</p>
                    <p>від Києва</p>
                </li>
                <li>
                    <img src="./assets/images/icons/ico-car.png" alt="Icon">
                    <p>3 години</p>
                    <p>від Києва</p>
                </li>
                <li>
                    <img src="./assets/images/icons/ico-leave.png" alt="Icon">
                    <p>Полтавська</p>
                    <p>область</p>
                </li>
            </ul>
        </div>
        <div class="road__pic">
            <img src="./assets/images/map.png" alt="Road">
        </div>
    </div>
</section>