<section class="specifics">
    <div class="container">
        <div class="specifics__info">
            {{> _titleBuilder
                tagWrapper = 'h2'
                label = 'Оздоровлення у співпраці з курортом Миргород'
                className = 'section-heading section-heading--mini'
            }}
            {{> _sectionDescription
                text = 'Гості Villa OTTE можуть поєднати відпочинок із професійними оздоровчими процедурами, мінеральними водами та wellness-програмами курорту Миргород.'
            }}
        </div>
        <ul class="specifics__pricelist">
            <li>
                <p class="specifics__name">Для гостей готелю діє спеціальна перевага —</p>
                <p class="specifics__val">10% знижки</p>
                <p class="specifics__target">на оздоровчі процедури.</p>
            </li>
        </ul>
    </div>
</section>