<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="./assets/images/favicon/favicon.svg" type="image/svg">
<title>Villa Otte | {{ pageName }}</title>
<link rel="preload" href="./assets/fonts/ff_accent_300.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/ff_accent_500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/ff_base_400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/ff_secondary.woff2" as="font" type="font/woff2" crossorigin>
<meta name="description" content="Villa Otte | {{ pageDescription }}">
<link rel="stylesheet" href="./assets/css/libs@@suffix.css">
<link rel="stylesheet" href="./assets/css/style@@suffix.css">
<script defer src="./assets/js/libs.js"></script>
<script defer type="module" src="./assets/js/script.js"></script>
