<ul class="cuisine-list">
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#icoPlate"></use>
        </svg>
        європейська кухня
    </li>
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#icoStar"></use>
        </svg>
        дитяче меню
    </li>
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#icoApple"></use>
        </svg>
        дієтичне меню
    </li>
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#icoSun"></use>
        </svg>
        cезоннe меню
    </li>
</ul>