<ul class="cuisine-list">
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#ico-plate"></use>
        </svg>
        європейська кухня
    </li>
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#ico-star"></use>
        </svg>
        дитяче меню
    </li>
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#ico-apple"></use>
        </svg>
        дієтичне меню
    </li>
    <li>
        <svg>
            <use xlink:href="./assets/images/icons/svg/sprite.svg#ico-sun"></use>
        </svg>
        cезоннe меню
    </li>
</ul>