<a href="javascript: void(0)" class="leisure-box">
    <div class="leisure-box__pic">
        <img src="{{ picture }}" alt="Picture">
        <div class="leisure-box__more">
            <div class="link-route">
                Детальніше
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#arrow-r"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="leisure-box__info">
        <p class="leisure-box__title">{{ title }}</p>
        <p class="leisure-box__description">{{ description }}</p>
    </div>
</a>