<div class="pagination-list">
    <button type="button" class="pag-control pag-control--l">
        <svg>
            <use href="./assets/images/icons/svg/sprite.svg#arrow-r"></use>
        </svg>
    </button>
    <div class="pagination-list__collect">
        <button type="button" class="pagination-list__btn is-active">1</button>
        <button type="button" class="pagination-list__btn">2</button>
        <button type="button" class="pagination-list__btn">3</button>
    </div>
    <button type="button" class="pag-control pag-control--r">
        <svg>
            <use href="./assets/images/icons/svg/sprite.svg#arrow-r"></use>
        </svg>
    </button>
</div>