<div class="review-box">
    <div class="review-box__head">
        <p class="review-box__name">{{ name }}</p>
        <ul class="review-box__media">
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <svg>
                        <use href="./assets/images/icons/svg/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <svg>
                        <use href="./assets/images/icons/svg/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="review-box__answer">
        {{{ review }}}
    </div>
</div>