@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

body {
    &:has(.header.is-transform) {
        .article__nav {
            top: rem(35px);
            @include media('tablet') {
                top: 0;
            }
        }
    }
}

.article {
    padding-bottom: rem(147px);
    @include media('tablet') {
        padding-bottom: rem(56px);
    }
    @include media('mobile') {
        padding-bottom: rem(28px);
        .container {
            padding: 0;
        }
    }
    .section-subtitle {
        margin-bottom: 0;
        text-align: left;
    }

    &__preview {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        @include media('mobile') {
            gap: rem(12px);
            padding-inline: var(--container_pdd);
        }

        img {
            aspect-ratio: 1412 / 349;
            object-fit: cover;
            @include media('mobile') {
                aspect-ratio: 550 / 400;
            }
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(24px);
        padding-block: rem(40px) rem(66px);
        @include media('mobile') {
            padding-block: rem(28px) rem(28px);
            flex-direction: column;
            gap: rem(12px);
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
        max-width: rem(500px);
        width: 100%;
        position: sticky;
        top: calc(var(--header-h) + rem(20px));
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            display: none;
        }
    }

    &__anchor {
        text-align: left;
        font: 600 #{rem(24px)} / 100% $ff_accent;
        color: #2b120ab2;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            color: $c_content;
        }
        @include media('mobile') {
            font-size: rem(18px);
        }

        &.is-active {
            color: $c_content;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(33px);
        max-width: rem(829px);
        width: 100%;
        @include media('mobile') {
            padding-inline: var(--container_pdd);
            gap: rem(24px);
        }

        h2 {
            font: 600 #{rem(40px)} / 90% $ff_accent;
            margin: 0 0 rem(33px) 0;
            @include media('mobile') {
                font-size: rem(28px);
                margin: 0 0 rem(24px) 0;
            }
        }

        h3,
        h4 {
            font: 600 #{rem(28px)} / 90% $ff_accent;
            margin: 0 0 rem(33px) 0;
            @include media('mobile') {
                font-size: rem(24px);
                margin: 0 0 rem(24px) 0;
            }
        }

        h5,
        h6 {
            font: 600 #{rem(24px)} / 90% $ff_accent;
            margin: 0 0 rem(33px) 0;
            @include media('mobile') {
                font-size: rem(20px);
                margin: 0 0 rem(24px) 0;
            }
        }

        p {
            font: 400 #{rem(18px)} / 100% $ff_base;
            color: #191716;
            @include media('mobile') {
                font-size: rem(16px);
            }

            &:has(+ :not(p)) {
                margin-bottom: rem(33px);
                @include media('mobile') {
                    margin-bottom: rem(24px);
                }
            }
        }

        a {
            display: inline-flex;
            font: 400 #{rem(18px)} / 100% $ff_base;
            text-decoration: underline;
            margin-bottom: rem(33px);
            color: #191716;
            @include media('mobile') {
                font-size: rem(16px);
                margin-bottom: rem(24px);
            }
        }

        blockquote {
            font: 400 #{rem(18px)} / 100% $ff_base;
            font-style: italic;
            margin: 0 0 rem(33px) 0;
            padding-left: rem(24px);
            border-left: 2px solid #191716;
            @include media('mobile') {
                font-size: rem(16px);
                margin: 0 0 rem(24px) 0;
                padding-left: rem(12px);
            }

            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0 0 rem(33px) 0;
                font-size: rem(32px);
                @include media('mobile') {
                    font-size: rem(22px);
                    margin: 0 0 rem(24px) 0;
                }
            }

            * {
                font: inherit;

                &:first-child {
                    padding-top: rem(24px);
                    @include media('mobile') {
                        padding-top: rem(12px);
                    }
                }
                &:last-child {
                    padding-bottom: rem(24px);
                    @include media('mobile') {
                        padding-bottom: rem(12px);
                    }
                }
            }
        }

        ul,
        ol {
            margin: 0 0 rem(30px) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: rem(31px);
            list-style-type: none;
            @include media('mobile') {
                margin: 0 0 rem(24px) 0;
                gap: rem(12px);
            }

            li {
                display: inline-flex;
                align-items: center;
                gap: rem(21px);
                font: 400 #{rem(24px)} / 110% $ff_base;
                color: #191716;
                @include media('mobile') {
                    font-size: rem(18px);
                }

                &::before {
                    content: '';
                    flex-shrink: 0;
                    width: rem(40px);
                    height: rem(10px);
                    background: url('../images/icons/arrow-r.svg') no-repeat
                        center center;
                }
            }
        }

        *:last-child {
            margin-bottom: 0;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24px);
        @include media('mobile') {
            gap: rem(12px);
            padding-inline: var(--container_pdd);
            .pag-control {
                display: none;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: rem(11px);
            @include media('mobile') {
                gap: rem(5px);
            }
            p {
                margin: 0;
                font: 400 #{rem(16px)} / 110% $ff_base;
                @include media('mobile') {
                    font-size: rem(12px);
                }
                &:last-child {
                    font-size: rem(20px);
                    @include media('mobile') {
                        font-size: rem(16px);
                    }
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(46px);

        &:last-child {
            flex-direction: row-reverse;
        }
    }
}
